.pohipealkiri{
    font-family: 'Segoe UI', sans-serif;
    color:whitesmoke;
    font-size: 32px;
}
div.sisu{
    max-width: 900px;
    margin: auto;
    padding: 10px;
    background:lightgrey;

}
.body{
    text-align: center;
    background-image: url('/taustakas.jpg');
}
div.pohipealkiri_div{
    text-align: center;
}
div.tavakas{
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
}
div.pildiplokk{
    text-align:center;    
}
.pilt1{
    border: 5px solid gray;
}
table.pohitabel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table.pohitabel th{
    color:hotpink;
}
div.column {
    float: left;
    width: 50%;
}
div.row:after {
    content: "";
    display: table;
    clear: both;
}
